<%= form_for @character do |c| %>
  <div class="form-group">
    <%= c.label :name %>
    <%= c.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= c.label :character_class %>
    <%= c.text_field :character_class, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= c.label :description %>
    <%= c.text_area :description, class: "form-control", rows: 4 %>
  </div>
  <div class="form-group">
    <%= c.label :physical %>
    <%= c.text_field :physical, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= c.label :social_skills %>
    <%= c.text_field :social_skills, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= c.label :magical_abilities %>
    <%= c.text_field :magical_abilities, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= c.submit "Create the character", class: "btn btn-primary" %>
  </div>
<% end %>
