<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Class</th>
      <th>Description</th>
      <th>Physical</th>
      <th>Social skills</th>
      <th>Magical abilities</th>
    </tr>
  </thead>
  <tbody>
    <% @search_result.each do |character| %>
      <tr>
        <td><%= character.name %></td>
        <td><%= character.character_class %></td>
        <td><%= character.description %></td>
        <td><%= character.physical %></td>
        <td><%= character.social_skills %></td>
        <td><%= character.magical_abilities %></td>
        <td><%= button_to "Remove", character, method: :delete, data: { confirm: "Remove #{character.name}?" }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Criate new character", new_character_path %>
