<!DOCTYPE html>
<html>
<head>
  <title>EP3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= nav_bar brand: "CRUDster", brand_link: root_url do %>
    <%= form_tag search_character_path, method: :get, class: "navbar-form navbar-right" do %>
      <div class="form-group">
        <%= text_field_tag :term, @search_term, class: "form-control" %>
        <%= button_to "Search", nil, class: "btn btn-default" %>
      </div>
    <% end %>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
